/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
-fx-font-family:Segoe UI Semilight;
-fx-background-color: #fff;
}

.paneTitlebar {
-fx-background-color:#fff;
}

.jfx-hamburger StackPane {
-fx-background-color:#fe605f;
-fx-pref-height:3.0px;
-fx-pref-width:25.0px;
}

.labelHeading {
-fx-text-fill:#666;
-fx-font-family:Roboto;
}

.drawerSidebar {
-fx-background-color:#3f484f;
-fx-text-alignment:left;
}

.btnSidebar {
-fx-text-fill:#fff;
-fx-font-family:Roboto;
-fx-alignment:baseline-left;
-fx-font-size:14.0px;
-fx-padding:0.0 0.0 0.0 20.0;
}

.btnSidebar-clicked {
-fx-background-color:#454e55;
-fx-border-width:0.0 0.0 0.0 5.0px;
-fx-border-color:#fe605f;
}

.employeePane {
}

.employeeTabPane {
}

.jfx-tab-pane .headers-region {
-fx-background-color:#fff;
}

.jfx-tab-pane .tab-header-background {
-fx-background-color:#fff;
-fx-text-fill:#000;
}

.jfx-tab-pane {
-fx-text-fill:#000;
}

.jfx-tab-pane .tab-selected-line {
-fx-stroke:#fe605f;
-fx-stroke-width:3.0px;
}

.tab-pane .tab-header-area .tab-header-background {
-fx-opacity:0.0;
}

.tab-pane {
-fx-tab-min-width:90.0px;
}

.tab {
-fx-background-insets:0.0 1.0 0.0 1.0,0.0,0.0;
}

.tab-pane .tab {
-fx-background-color:#e6e6e6;
}

.tab-pane .tab:selected {
-fx-background-color:#3c3c3c;
}

.tab .tab-label {
-fx-alignment:CENTER;
-fx-text-fill:#666;
-fx-font-size:16.0px;
}

.tab:selected .tab-label {
-fx-alignment:CENTER;
-fx-text-fill:#fe605f;
}

.searchTextField {
}

.btnSearch {
}

.allTable {
-fx-border-color: #fff;
-fx-border-width: 30.0 0.0 10.0 0.0;
}

/*TableView Styling*/
.table-view {
-fx-background-color:#fff;
}

.table-view:focused {
-fx-background-color:#fff;
}


.table-view .column-header-background {
-fx-background-color:#fff;
-fx-border-width:0.0 0.0 1.0 0.0;
-fx-border-color:#aaa;
}


.table-view .column-header-background .label {
-fx-background-color:#fff;
-fx-text-fill:#666;
-fx-font-size:12.0px;
-fx-alignment: center-left;
}

.right-column-style .label{
-fx-alignment: center-right;
}

.table-view .column-header-background .filler {
-fx-background-color:#fff;
}

.table-view .column-header {
-fx-background-color:#fff;
-fx-border-width:2.0px;
}

.table-view .column-header .label {
-fx-background-color:#fff;
-fx-text-alignment:left;
}

.table-view .table-cell {
-fx-text-fill:#666;
-fx-border-width:0.0;
}

.table-row-cell {
-fx-background-color:#fff;
-fx-background-insets:0.0 0.0 0.0 1.0 0.0;
-fx-border-width:0.0;
-fx-font-size:14.0px;
-fx-text-origin: baseline ;
}

.table-row-cell:selected {
-fx-background-color:#ddd;
-fx-background-insets:0.0;
-fx-background-radius:1.0;
}

.table-row-cell:hover {
-fx-background-color:#eee;
-fx-background-insets:0.0;
-fx-background-radius:1.0;
}



.table-view > .virtual-flow > .scroll-bar:vertical,.table-view > .virtual-flow > .scroll-bar:vertical > .track,.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,.table-view > .virtual-flow > .scroll-bar:horizontal,.table-view > .virtual-flow > .scroll-bar:horizontal > .track,.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
-fx-background-color:#fff;
}

/*This class contains style applied to root pane of all external panes added to the main dashboard
 * except HomePane
 * 
 * EmployeesPane
 * StocaPane
 * PurchasePane
 * SalesPane
 */
.contentPanes {
-fx-background-color:#fff;
}

.redbrickButtons
{
-fx-background-color: #fe605f;
-fx-text-fill: #fff;
-fx-font-size: 14.0px;
}
.paymentTab .tab
{
-fx-font-size: 30.0px;
-fx-effect: null;
}

.tablePlaceHolder{
	-fx-text-fill: #666;
	-fx-font-size: 20px;
}

.jfx-text-field .errorLabel, .jfx-password-field .errorLabel , .jfx-text-area .errorLabel{
	-fx-text-fill : #D34336;
	-fx-font-size: 12;
}
.jfx-text-field .errorIcon, .jfx-password-field .errorIcon, .jfx-text-area .errorIcon{
	-fx-text-fill : #D34336;
	-fx-font-size: 12;
}
.comboBox{
	-fx-text-fill: #666;
	-fx-background-color: #fff;
}

.comboBox:hover{
	-fx-background-color: #fe605f;
	-fx-text-fill: #fff;
}

/*This style contains css for buttons displayed in table rows "View Details" */
.detailsButton{
	-fx-background-color: #fff;
	-fx-text-fill: #fff;
	-fx-font-size: 12px;
}

.table-row-cell:hover .detailsButton{
		-fx-background-color: #fe605f;
	
}


.table-row-cell:selected .detailsButton{
		-fx-background-color: #fe605f;

	
}
.table-row-cell:selected .detailsButton:hover{
		-fx-background-color: #fe605f;
		-fx-text-fill: #fff;
	
}








